name: Build and Publish

on:
  push:
    tags:
      - "v*"
    branches:
      - "main"
      - "breaking"
  pull_request:

jobs:
  build:
    name: Build Distribution
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install uv
      uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        version: "0.10.4"
    - name: uv build
      run: uv build --verbose -o dist
    - name: Store the distribution packages
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: python-package-distributions
        path: dist/

  publish-to-testpypi:
    name: Publish to TestPyPI
    needs: [build]
    runs-on: ubuntu-24.04
    environment:
      name: testpypi
      url: https://test.pypi.org/p/parsnip-cif
    permissions:
      id-token: write

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish to TestPyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        repository-url: https://test.pypi.org/legacy/
        verbose: true
        skip-existing: true
        verify-metadata: true

  publish-to-pypi:
    name: Publish to PyPI
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [build]
    runs-on: ubuntu-24.04
    environment:
      name: pypi
      url: https://pypi.org/p/parsnip-cif
    permissions:
      id-token: write

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: python-package-distributions
        path: dist/

    - name: Publish to PyPI
      # TODO: https://github.com/pypa/gh-action-pypi-publish/pull/378
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
