name: Run tests

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      runs-on:
        required: true
        type: string
      requirements-file:
        required: true
        type: string

jobs:
  run_test:
    runs-on: ${{ inputs.runs-on }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ inputs.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        version: "0.9.15"

    - name: Install package
      run: |
        which python
        python --version
        uv pip install . -r ${{ inputs.requirements-file }} -v --reinstall --system
        python -c "import parsnip; print('parsnip', parsnip.__version__)"

    - name: Test with pytest
      run: python -m ${{ runner.os != 'Windows' && 'pytest' || 'pytest tests' }} -v -n auto
